<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<head>
  <title>南京工业大学本科生离校签到</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="icon" type="image/png" href="https://ehall.njtech.edu.cn/infoplus/static/img/favicon.png">
  
  <link href="https://ehall.njtech.edu.cn/infoplus/static/css/infoplus.css?v=20210311-172558" rel="stylesheet">
  <link href="https://ehall.njtech.edu.cn/infoplus/static/css/mobile.css?v=20210311-172558" rel="stylesheet">
  <link href="https://ehall.njtech.edu.cn/infoplus/static/themes/default/desktop/css/theme.css?v=20210311-172558"
        rel="stylesheet">
  <link href="https://ehall.njtech.edu.cn/infoplus/static/themes/default/mobile/css/theme.css?v=20210311-172558"
        rel="stylesheet">
  <style>[autoheight] {
      overflow: hidden;
      box-sizing: border-box;
  }</style>
  <link type="text/css" media="all" rel="stylesheet" id="infoplus_view_1526_0_cached_link"
        href="https://ehall.njtech.edu.cn/infoplus/form/css/1b17faf0245e53f306dbd0b9a6a25a08.css">
</head>
<body>
<div id="help_content"></div>
<div id="div_loader" style="display: none;">
  <div id="div_loader_content">
    <div id="div_loader_text">
      <span class="content">正在加载页面(95%)</span>
    </div>
    <div id="div_loader_progress" style="overflow: hidden; height: 0px; opacity: 0.5;">
      <div id="div_loader_progress_percent" style="right: 5%;"></div>
    </div>
  </div>
</div>
<div id="form_do_action_dialog" style="display:none;">
  <div id="form_do_action_message_description" style="display:none;"></div>
  <div id="form_do_action_show_remark" class="clearfix"></div>
  <div id="form_do_action_remark_div">
    <div id="form_do_action_remark_tip" style="margin-bottom:2px"></div>
    <textarea id="form_do_action_remark" rows="5"></textarea>
  </div>
  <div id="form_do_action_next_steps">
    <div id="form_do_action_show_next_steps" class="clearfix">
      <span class="form_do_action_info ui-icon ui-icon-info"></span>
      <span class="form_do_action_next_steps"></span>
    </div>
    <ul id="form_do_action_user_list"></ul>
  </div>
  <div style="height:10px"><a id="linkPrint" href="#" target="_blank"></a></div>
</div>


<div id="div_render_container" style="display: block;">
  <form id="renderForm">
    <div id="div_content" class="div_content">
      <div id="renderContent_holder" class="no_header">
        <!-- 2.the holder for form renderer -->
        <div id="render_holder">
          <div id="form_holder" style="width: 426px; display: block;">
            <div class="infoplus_view_wrap_outer preview_view">
              <div class="infoplus_view_wrap_inner">
                <div id="infoplus_view_3724_0" class="infoplus_view">
                  <div id="preview_introduce" style="width: 320px;">
                    <div id="introduce_container">
                      <div id="introduce_icon_container"><img id="preview_app_icon"
                                                              src="https://ehall.njtech.edu.cn/infoplus/static/img/default_workflow_icon.png"
                                                              style="background-color: transparent;"></div>
                      <div id="introduce_info_container" style="width: 204px;">
                        <div class="introduce_name">南京工业大学本科生离校签到</div>
                        <div class="introduce_content">
                          <table>
                            <tbody>
                            <tr>
                              <td class="introduce_label">主管部门：</td>
                              <td class="introduce_department">学生工作处</td>
                            </tr>
                            <tr>
                              <td class="introduce_empty_line"></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td class="introduce_label">联系方式：</td>
                              <td class="introduce_contact">　</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="introduce_line"><span class="introduce_rating"><div class="rating_star"><div
                          class="star_container"><div class="rating_score" style="width: 0%;"></div></div></div><span
                          class="rated"><span class="rated_count">0次评分</span></span></span></div>
                      </div>
                    </div>
                  </div>
                  <div align="center">
                    <table
                      style="BORDER-TOP-STYLE: none; WORD-WRAP: break-word; BORDER-LEFT-STYLE: none; WIDTH: 320px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none"
                      class="xdFormLayout">
                      <colgroup>
                        <col width="320" style="WIDTH: 320px">
                      </colgroup>
                      <tbody>
                      <tr class="xdTableContentRow">
                        <td class="xdTableContentCell"
                            style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #bfbfbf 1pt; BORDER-BOTTOM: #bfbfbf 1pt; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #bfbfbf 1pt; PADDING-RIGHT: 10px"
                            valign="top">
                          <div>
                            <table border="1" bordercolor="buttontext"
                                   style="WORD-WRAP: break-word; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 308px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"
                                   class="xdLayout">
                              <colgroup>
                                <col width="117" style="WIDTH: 117px">
                                <col width="191" style="WIDTH: 191px">
                              </colgroup>
                              <tbody>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ffffff"
                                  colspan="2">
                                  <div align="center"><font face="微软雅黑" size="7" color="#0070c0"
                                                            style="font-family:'PingFang SC',微软雅黑">离校签到</font></div>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ddeaff">
                                  <div align="left"><font face="微软雅黑" size="3"
                                                          style="font-family:'PingFang SC',微软雅黑">姓名</font></div>
                                </td>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px">
                                  <font face="微软雅黑" style="font-family:'PingFang SC',微软雅黑">
                                    <div align="left">
                                      <div class="infoplus_labelControlContainer inline"
                                           id="label_cf2f2352-2bab-485f-b896-e315533b0abd_Container">
                                        <div style="FONT-SIZE: medium; WIDTH: 100%" title=""
                                             class="infoplus_control infoplus_labelControl inline"
                                             id="label_cf2f2352-2bab-485f-b896-e315533b0abd">丁昊
                                        </div>
                                        <input type="hidden" id="V0_CTRL3" name="fieldSqrXm" value="201821104162"></div>
                                    </div>
                                  </font></td>
                              </tr>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ddeaff">
                                  <div align="left"><font face="微软雅黑" size="3"
                                                          style="font-family:'PingFang SC',微软雅黑">学号</font></div>
                                </td>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px">
                                  <font face="微软雅黑" size="4" style="font-family:'PingFang SC',微软雅黑">
                                    <div align="left">
                                      <div class="infoplus_labelControlContainer inline"
                                           id="label_92d30d9d-83ea-4628-b9ec-1c3e1d82c349_Container">
                                        <div style="WIDTH: 100%" title=""
                                             class="infoplus_control infoplus_labelControl inline"
                                             id="label_92d30d9d-83ea-4628-b9ec-1c3e1d82c349">201821104162
                                        </div>
                                        <input type="hidden" id="V0_CTRL5" name="fieldSqRsbh" value="201821104162">
                                      </div>
                                    </div>
                                  </font></td>
                              </tr>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ddeaff">
                                  <div align="left"><font face="微软雅黑" size="3"
                                                          style="font-family:'PingFang SC',微软雅黑"><font face="微软雅黑"
                                                                                                       size="3"
                                                                                                       style="font-family:'PingFang SC',微软雅黑">学院</font></font>
                                  </div>
                                </td>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px">
                                  <font face="微软雅黑" size="4" style="font-family:'PingFang SC',微软雅黑">
                                    <div align="left">
                                      <div class="infoplus_labelControlContainer inline"
                                           id="label_0fc16703-5cec-40ea-8c78-589d28dbae3f_Container">
                                        <div style="WIDTH: 100%" title=""
                                             class="infoplus_control infoplus_labelControl inline"
                                             id="label_0fc16703-5cec-40ea-8c78-589d28dbae3f">化工学院
                                        </div>
                                        <input type="hidden" id="V0_CTRL19" name="fieldYX" value="000049"></div>
                                    </div>
                                  </font></td>
                              </tr>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ddeaff">
                                  <div align="left"><font face="微软雅黑" size="3"
                                                          style="font-family:'PingFang SC',微软雅黑"><font face="微软雅黑"
                                                                                                       size="3"
                                                                                                       style="font-family:'PingFang SC',微软雅黑">请假申请审核结果</font></font>
                                  </div>
                                </td>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px">
                                  <font face="微软雅黑" size="4" style="font-family:'PingFang SC',微软雅黑">
                                    <div align="left">
                                      <div class="infoplus_labelControlContainer inline"
                                           id="label_8d04b60e-122d-4d5b-a15f-399475918cb5_Container">
                                        <div style="WIDTH: 100%" title=""
                                             class="infoplus_control infoplus_labelControl inline"
                                             id="label_8d04b60e-122d-4d5b-a15f-399475918cb5">审核通过
                                        </div>
                                        <input type="hidden" id="V0_CTRL10" name="fieldQDJG" value="审核中"></div>
                                    </div>
                                  </font></td>
                              </tr>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #ddeaff"
                                  rowspan="2">
                                  <div align="left">
                                    <font face="微软雅黑"
                                          size="3"
                                          style="font-family:'PingFang SC',微软雅黑">离校具体时间</font>
                                  </div>
                                </td>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px">
                                  <font face="微软雅黑" size="4" style="font-family:'PingFang SC',微软雅黑">
                                    <p id="date123456"></p>
                                    <script>
                                        n = new Date();
                                        y = n.getFullYear();
                                        M = n.getMonth() + 1;
                                        d = n.getDate();
                                        h = n.getHours();
                                        m = n.getMinutes()
                                        s = n.getSeconds()
                                        let ts = y+'-'+M+'-'+d+' '+h+':'+m+':'+s;
                                        document.getElementById("date123456").innerHTML = ts;
                                    </script>
                                  </font></td>
                              </tr>
                              <tr>
                                <td
                                  style="BORDER-TOP: #0070c0 1pt solid; BORDER-RIGHT: #0070c0 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #0070c0 1pt solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #0070c0 1pt solid; PADDING-RIGHT: 10px">
                                  <font face="微软雅黑" size="4" style="font-family:'PingFang SC',微软雅黑">
                                    <div align="left">
                                      <input type="hidden" style="width: 100%; display: none;"
                                             class="infoplus_control infoplus_hiddenControl" title=""
                                             id="V0_CTRL17" name="fieldQJJTSJ" value=""
                                             disabled="disabled"></div>
                                  </font></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <div align="center">
                            <div style="float:left;margin:0; padding:0;" title=""
                                 class="infoplus_control infoplus_imageControl"
                                 id="image_e7b420e1-5148-4873-b107-82ffe2109e4b"><a
                              data-lightbox="cdf282e2-1fec-4df5-a753-240ddbe4f8b0"
                              href="https://ehall.njtech.edu.cn/file/36b05773-60e8-4a17-b999-ee39f394ca31">
                              <img
                                class="infoplus_imageControl_image"
                                src="../static/勾.jpg"
                                style="width: 300px; height: 300px; cursor: pointer;"></a><input type="hidden"
                                                                                                 id="V0_CTRL12"
                                                                                                 name="fieldFH"
                                                                                                 value="https://ehall.njtech.edu.cn/file/36b05773-60e8-4a17-b999-ee39f394ca31">
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div align="center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </form>
</div>
</body>
</html>
